archivos-extras/automatizacion/n8n.json
{
  "name": "n8n",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e45a0dae-67d1-45ed-9f6b-923fd4788212",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1560,
        780
      ],
      "webhookId": "2f509b79-e593-4b42-9d87-18f9a23d7769",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.text}}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "^\\/login"
            },
            {
              "operation": "regex",
              "value2": "^\\/verActividades",
              "output": 1
            },
            {
              "operation": "regex",
              "value2": "^\\/historialActividades",
              "output": 2
            },
            {
              "operation": "regex",
              "value2": "^\\/registrarActividad",
              "output": 3
            }
          ]
        }
      },
      "id": "de15aadf-e52b-401d-9e64-4376de0f70ce",
      "name": "Router Comandos1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -860,
        900
      ]
    },
    {
      "parameters": {
        "functionCode": "// Obtenemos el texto del mensaje ya normalizado\nconst msg = $json.text || \"\";\nconst chatId = $json.chatId;\n\n// Dividir los valores\nconst parts = msg.trim().split(/\\s+/);\n\n// Validar formato: /login correo contraseña\nif (parts.length < 3) {\n  return [{\n    json: {\n      error: true,\n      message: '❌ Formato incorrecto. Usa:\\n\\n/login correo contraseña',\n      chatId\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    correo: parts[1],\n    password: parts[2],\n    chatId\n  }\n}];\n"
      },
      "id": "db06bef4-ea39-4cd8-8922-c380c7db67d0",
      "name": "Parse Login1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -500,
        380
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:4000/auth/login",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \n  correo: $json.correo, \n  password: $json.password \n} }}"
      },
      "id": "f5367d9d-bdb5-494d-a04b-f5fbb3da3ae5",
      "name": "HTTP Login1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        160,
        300
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Guardar Login Data\"].json.chatId }}",
        "text": "✅ *Login exitoso*\n\n/registrarActividad\n/verActividades\n/historialActividades",
        "additionalFields": {}
      },
      "id": "fb57c46d-8af2-4b9b-9125-898777165353",
      "name": "Mensaje Login OK1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        20
      ],
      "webhookId": "d160d31c-5c2d-4294-a0ea-01907c74079c",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/activities",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.token}}"
            }
          ]
        }
      },
      "id": "a6c8162f-e6cf-439b-a712-d89363d4d31c",
      "name": "HTTP Ver Actividades1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        360,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "const raw = items[0].json;\nconst chatId = $node['Obtener ChatId'].json.chatId;\n\n\n// Detectar error 401 o fallo de backend\nif (raw?.statusCode === 401 || raw?.message === 'Unauthorized') {\n\treturn [{\n\t\tjson: {\n\t\t\tchatId,\n\t\t\ttext: \"❌ *Sesión expirada*\\n\\nHaz login nuevamente:\\n`/login correo contraseña`\"\n\t\t}\n\t}];\n}\n\n// Normalizar respuesta\nlet acts = Array.isArray(raw)\n\t? raw\n\t: Array.isArray(raw.data)\n\t\t? raw.data\n\t\t: raw?.id ? [raw] : [];\n\n// Si no hay actividades\nif (!acts || acts.length === 0) {\n\treturn [{\n\t\tjson: {\n\t\t\tchatId,\n\t\t\ttext: \"📋 *Tus Actividades*\\n\\nNo se encontraron actividades.\"\n\t\t}\n\t}];\n}\n\n// Ordenar por fecha descendente\nacts = acts.sort((a, b) => {\n\tconst fa = new Date(a.fecha || a.createdAt).getTime();\n\tconst fb = new Date(b.fecha || b.createdAt).getTime();\n\treturn fb - fa;\n});\n\n// Tomar solo las 5 más recientes\nconst recentActs = acts.slice(0, 5);\n\n// Formateadores\nfunction fmtDate(iso) {\n\ttry { return new Date(iso).toLocaleDateString('es-CO'); } \n\tcatch { return iso; }\n}\n\nfunction money(n) { return n == null ? '-' : Number(n).toLocaleString('es-CO'); }\n\nfunction short(text, max = 150) {\n\tif (!text) return '-';\n\treturn text.length > max ? text.slice(0, max) + \"…\" : text;\n}\n\n// Construir mensaje\nlet msg = `📋 *Tus 5 Actividades Más Recientes* 🌱\\n\\n`;\n\nrecentActs.forEach(a => {\n\tconst icon =\n\t\t(a.subtipo || '').toUpperCase().includes('PLAG') ? '🐛' :\n\t\t(a.subtipo || '').toUpperCase().includes('SIEMB') ? '🌱' :\n\t\t'📌';\n\n\tmsg += `━━━━━━━━━━━━━━━━━━\\n`;\n\tmsg += `${icon} *${a.nombre || 'Actividad sin nombre'}*\\n\\n`;\n\n\tmsg += `📌 *Resumen*\\n`;\n\tmsg += `• Fecha: ${fmtDate(a.fecha || a.createdAt)}\\n`;\n\tmsg += `• Estado: ${a.estado || '-'}\\n`;\n\n\tif (a.creadoPorUsuario) {\n\t\tconst u = a.creadoPorUsuario;\n\t\tmsg += `• Creador: ${u.nombre} ${u.apellido} (ID: ${u.identificacion || '-'})\\n`;\n\t}\n\n\tmsg += `\\n`;\n\n\tif (a.descripcion) {\n\t\tmsg += `📝 *Descripción*\\n`;\n\t\tmsg += `${short(a.descripcion)}\\n\\n`;\n\t}\n\n\tmsg += `📍 *Ubicación*\\n`;\n\tif (a.lote?.nombre) msg += `• Lote: ${a.lote.nombre}\\n`;\n\tif (a.subLote?.nombre) msg += `• Sub-lote: ${a.subLote.nombre}\\n`;\n\tif (a.cultivo?.nombreCultivo) msg += `• Cultivo: ${a.cultivo.nombreCultivo}\\n`;\n\tmsg += `\\n`;\n\n\tconst responsables = Array.isArray(a.responsables) ? a.responsables : [];\n\tmsg += `👥 *Responsables (${responsables.length})*\\n`;\n\tresponsables.forEach(r => {\n\t\tif (r.usuario) {\n\t\t\tmsg += `• ${r.usuario.nombre} ${r.usuario.apellido} — ID: ${r.usuario.identificacion}\\n`;\n\t\t}\n\t});\n\tmsg += `\\n`;\n\n\tconst totalHorasMO = responsables.reduce((sum, r) => sum + (r.horas || 0), 0);\n\tconst totalCostoMO = a.costoManoObra || 0;\n\tconst precioHora = totalHorasMO > 0 ? Math.round(totalCostoMO / totalHorasMO) : 0;\n\n\tmsg += `🛠️ *Mano de Obra*\\n`;\n\tmsg += `• Horas: ${totalHorasMO}\\n`;\n\tmsg += `• Precio/hora: $${money(precioHora)}\\n`;\n\tmsg += `• Total MO: $${money(totalCostoMO)}\\n\\n`;\n\n\tlet totalServicios = 0;\n\tif (Array.isArray(a.servicios)) totalServicios = a.servicios.reduce((sum, s) => sum + (s.costo || 0), 0);\n\tmsg += `🔧 *Servicios*\\n`;\n\tmsg += `• Total servicios: $${money(totalServicios)}\\n\\n`;\n\n\tlet totalInsumos = 0;\n\tmsg += `🧪 *Insumos utilizados*\\n`;\n\tif (Array.isArray(a.insumosUso) && a.insumosUso.length > 0) {\n\t\ta.insumosUso.forEach(i => {\n\t\t\tconst name = i.insumo?.nombre || \"Insumo\";\n\t\t\tconst unidad = i.insumo?.unidadUso || '';\n\t\t\tmsg += `• ${name} — ${i.cantidadUso} ${unidad}\\n`;\n\t\t});\n\t\ttotalInsumos = a.insumosUso.reduce((sum, i) => sum + (i.costoTotal || 0), 0);\n\t\tmsg += `• Total insumos: $${money(totalInsumos)}\\n\\n`;\n\t} else {\n\t\tmsg += `• No hay insumos registrados\\n\\n`;\n\t}\n\n\tconst totalActividad = totalCostoMO + totalServicios + totalInsumos;\n\tmsg += `💲 *TOTAL ACTIVIDAD:* $${money(totalActividad)}\\n`;\n\tmsg += `━━━━━━━━━━━━━━━━━━\\n\\n`;\n});\n\nreturn [{ json: { chatId, text: msg } }];"
      },
      "id": "813a362f-f617-43d2-b35b-9e366238dd93",
      "name": "Formato Lista Actividades1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        640
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "363bb10b-2b52-4444-af1f-0fc906c44473",
      "name": "Enviar Lista1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1060,
        620
      ],
      "webhookId": "dcd2b853-4bee-4aa8-a459-0c1feb3bd72f",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/reports/n8n/activities/pdf",
        "responseFormat": "file",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "token",
              "value": "={{$json.access_token}}"
            }
          ]
        }
      },
      "id": "c55a6ab7-c8bc-4aa2-acb5-5f97375aff43",
      "name": "HTTP Descargar PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        120,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{$json.chatId}}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "d45a5d25-78c2-4c7e-8737-ccb4158a0bfb",
      "name": "Send PDF1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        1140
      ],
      "webhookId": "942a141a-129d-4247-8ab7-a610ecc06191",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "correo",
              "value": "={{$json.correo}}"
            },
            {
              "name": "password",
              "value": "={{$json.password}}"
            },
            {
              "name": "token",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "27470229-6270-4d43-80f4-ab273d2202da",
      "name": "Set Temporal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "correo",
              "value": "={{$json.correo}}"
            },
            {
              "name": "password",
              "value": "={{$json.password}}"
            },
            {
              "name": "token",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6008dd2-71fa-4a11-bcc1-4c8864aa8169",
      "name": "Set Temporal2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        1100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{ $node[\"Telegram Trigger1\"].json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "929767bd-91c7-45ea-a3a4-f53f0018b821",
      "name": "ChatID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        360,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_form_estado (user_id, step, data, estado, updated_at, access_token)\nVALUES ($1, 0, '{}', 'OK', NOW(), $2)\nON CONFLICT (user_id)\nDO UPDATE SET \n    access_token = EXCLUDED.access_token,\n    updated_at = NOW();",
        "options": {
          "queryReplacement": "={{$json.chatId}}, {{$json.token}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        820,
        40
      ],
      "id": "2718903b-4ab7-4aa3-b813-5e2326bd4a08",
      "name": "Postgres Guardar Token",
      "credentials": {
        "postgres": {
          "id": "jmWY8mb5bi8B9xoW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "token",
              "value": "={{$json.token}}"
            },
            {
              "name": "rolId",
              "value": "={{$json.user.rolId}}"
            },
            {
              "name": "chatId",
              "value": "={{ $node[\"Telegram Trigger1\"].json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "634cdfd7-1392-46cf-bb0e-32594b3cf6c7",
      "name": "Guardar Login Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        620,
        20
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{$node[\"Guardar Login Data\"].json.chatId}}"
            },
            {
              "name": "token",
              "value": "={{$node[\"Guardar Login Data\"].json.token}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "f2cf41e7-3958-499a-bf83-ed2229dee2ad",
      "name": "Restaurar chatId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1040,
        20
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT access_token \nFROM telegram_form_estado\nWHERE user_id = $1;",
        "options": {
          "queryReplacement": "={{$json.chatId}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -100,
        700
      ],
      "id": "28e767e6-3f5a-43b5-a361-c6fb97f88c32",
      "name": "PG Extract Token",
      "credentials": {
        "postgres": {
          "id": "jmWY8mb5bi8B9xoW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{$json.chatId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3858d09a-7bc2-426d-8ff1-7d90f8f229b3",
      "name": "Obtener ChatId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -340,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "token",
              "value": "={{$json.access_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d80e73b-188a-4320-b565-0d080f358c82",
      "name": "Token Json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        140,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT access_token FROM telegram_form_estado WHERE user_id = $1;",
        "options": {
          "queryReplacement": "={{$node[\"Registrar Actividad1\"].json.chatId}}"
        }
      },
      "id": "b9175dfb-8d96-4b48-9ddd-6c7e4cca0d2e",
      "name": "PG Extract Token2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "jmWY8mb5bi8B9xoW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "name": "nombre",
              "value": "={{$json.valores.nombre}}"
            },
            {
              "name": "tipo",
              "value": "={{$json.valores.tipo}}"
            },
            {
              "name": "subtipo",
              "value": "={{$json.valores.subtipo}}"
            },
            {
              "name": "loteId",
              "value": "={{$json.valores.loteId}}"
            },
            {
              "name": "subLoteId",
              "value": "={{$json.valores.subLoteId}}"
            },
            {
              "name": "cultivoId",
              "value": "={{$json.valores.cultivoId}}"
            },
            {
              "name": "fecha",
              "value": "={{$json.valores.fecha}}"
            },
            {
              "name": "descripcion",
              "value": "={{$json.valores.descripcion}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f043474-49f7-4a4c-8160-9b7ad9b7b464",
      "name": "Set Actividad",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -660,
        1540
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "✏️ Vamos a registrar una actividad. Por favor responde las preguntas que aparecerán a continuación.",
        "additionalFields": {}
      },
      "id": "eec42874-efce-4a5d-93ed-3adcee759553",
      "name": "Telegram Inicio Registro1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1220,
        1540
      ],
      "webhookId": "b5318454-29dd-47ae-ae50-84d80ab46b63",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/activities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.token}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{$node[\"Set Actividad\"].json.nombre}}"
            },
            {
              "name": "tipo",
              "value": "={{$node[\"Set Actividad\"].json.tipo}}"
            },
            {
              "name": "subtipo",
              "value": "={{$node[\"Set Actividad\"].json.subtipo}}"
            },
            {
              "name": "loteId",
              "value": "={{$node[\"Set Actividad\"].json.loteId}}"
            },
            {
              "name": "subLoteId",
              "value": "={{$node[\"Set Actividad\"].json.subLoteId}}"
            },
            {
              "name": "cultivoId",
              "value": "={{$node[\"Set Actividad\"].json.cultivoId}}"
            },
            {
              "name": "fecha",
              "value": "={{$node[\"Set Actividad\"].json.fecha}}"
            },
            {
              "name": "descripcion",
              "value": "={{$node[\"Set Actividad\"].json.descripcion}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2d37427-a5b6-4157-b103-3d3a6fb6e300",
      "name": "HTTP Registrar Actividad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1540
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "✅ Actividad registrada correctamente",
        "additionalFields": {}
      },
      "id": "9369cc66-801d-437a-aadd-c2bc4dfc0730",
      "name": "Telegram Confirmación1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        320,
        1520
      ],
      "webhookId": "dbad2197-e5c2-4b6c-9b51-867456d2075a",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "token",
              "value": "={{$json[0].access_token}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5e6a3cf-ccb3-4c14-8a4f-4d0107eec6d0",
      "name": "Token Json1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -100,
        1540
      ]
    },
    {
      "parameters": {
        "functionCode": "// Obtener mensaje desde Telegram\nconst msg = $json.message || {};\nconst text = (msg.text || \"\").trim();\n\n// Dividir por comas\nconst partes = text.split(\",\").map(v => v.trim());\n\n// Validar cantidad de campos (8)\nif (partes.length < 8) {\n  return [{\n    json: {\n      error: true,\n      chatId: msg.chat?.id,\n      message: \"❌ Formato inválido.\\n\\nDebes enviar *8 valores separados por comas*:\\n\\n`nombre, tipo, subtipo, loteId, subLoteId, cultivoId, fecha(YYYY-MM-DD), descripcion`\"\n    }\n  }];\n}\n\n// Asignar cada campo\nconst [\n  nombre,\n  tipo,\n  subtipo,\n  loteId,\n  subLoteId,\n  cultivoId,\n  fecha,\n  descripcion\n] = partes;\n\n// Retornar datos limpios\nreturn [{\n  json: {\n    ok: true,\n    chatId: msg.chat?.id,\n    nombre,\n    tipo,\n    subtipo,\n    loteId,\n    subLoteId,\n    cultivoId,\n    fecha,\n    descripcion\n  }\n}];\n"
      },
      "id": "4bb9f4fc-b005-4d1f-b6ea-5b48f0cad4ba",
      "name": "Registrar Actividad",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -940,
        1540
      ]
    },
    {
      "parameters": {
        "functionCode": "const message = items[0].json.message;\nconst chatId = message.chat.id;\nconst text = message.text || '';\nconst userId = message.from.id;\n\nreturn [{json: {chatId, userId, text}}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1320,
        800
      ],
      "id": "7a35e2ed-57aa-4a56-84be-43394acfabab"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "startsWith",
              "value2": "/start"
            }
          ]
        }
      },
      "name": "Is Start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1100,
        740
      ],
      "id": "288525ef-4c5c-4dae-a400-5ee6734cca0a"
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{ \"🌾 *¡Bienvenido a Agrotech\\\\!* 🚜\\n\\nPara acceder a tus actividades, inicia sesión con:\\n\\n*\\/login correo@ejemplo\\\\.com contraseña*\\n\\nPor ejemplo:\\n\\n*\\/login micorreo@correo\\\\.com MiPassword123*\" }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -880,
        520
      ],
      "id": "7b8dc13b-935d-46d2-b70b-a4472340d2e2",
      "webhookId": "238426ee-c9e8-4e2e-a5ef-c8da07243bb6",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "=🛠️ En mantenimiento  \n\nEstamos trabajando en mejorar esta funcionalidad. Pronto podrás registrar actividades sin inconvenientes.\n\nGracias por tu paciencia. 🙌",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -600,
        1240
      ],
      "id": "5ca4d51d-b062-4b93-92a1-507614a09373",
      "name": "Telegram",
      "webhookId": "5b4baca1-f149-4274-83e4-02f1f5a31562",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatId",
              "value": "={{$json.chatId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a130fb1-0e85-493f-a0d4-93e5bb3eab86",
      "name": "Obtener ChatId1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -800,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -260,
        200
      ],
      "id": "a6cb3863-c25d-475e-b7c8-0aab31d19fd0"
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f64f40ed-c080-4c95-950c-a8360a2e7a22",
      "webhookId": "6464aa56-0fa3-4f02-899b-929824810b83",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Login OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        320
      ],
      "id": "8d21178e-b1c6-4c3a-ae5a-30edf1bb8db2"
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Login1'].json.chatId}}",
        "text": "=❌ *No pudimos iniciar tu sesión*\n\nParece que el correo o la contraseña no coinciden\\.\nInténtalo nuevamente\\.\n\n*Ejemplo:*\n`\\/login correo@ejemplo\\.com MiContraseña123`",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "name": "Send Login Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        600,
        440
      ],
      "id": "a74e7b81-d33a-426a-947e-acf29a6edfc9",
      "webhookId": "1a290dd4-08ee-410e-b2e5-2a5bf38e5b51",
      "credentials": {
        "telegramApi": {
          "id": "YecR6oUvL4c0hr64",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Comandos1": {
      "main": [
        [
          {
            "node": "Parse Login1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener ChatId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Temporal2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener ChatId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Login1": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Login1": {
      "main": [
        [
          {
            "node": "Login OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ver Actividades1": {
      "main": [
        [
          {
            "node": "Formato Lista Actividades1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formato Lista Actividades1": {
      "main": [
        [
          {
            "node": "Enviar Lista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Descargar PDF1": {
      "main": [
        [
          {
            "node": "ChatID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Temporal": {
      "main": [
        [
          {
            "node": "HTTP Login1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Temporal2": {
      "main": [
        [
          {
            "node": "HTTP Descargar PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatID": {
      "main": [
        [
          {
            "node": "Send PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Guardar Token": {
      "main": [
        [
          {
            "node": "Restaurar chatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Login Data": {
      "main": [
        [
          {
            "node": "Postgres Guardar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar chatId": {
      "main": [
        [
          {
            "node": "Mensaje Login OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Extract Token": {
      "main": [
        [
          {
            "node": "Token Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ChatId": {
      "main": [
        [
          {
            "node": "PG Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Json": {
      "main": [
        [
          {
            "node": "HTTP Ver Actividades1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Extract Token2": {
      "main": [
        [
          {
            "node": "Token Json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Registrar Actividad": {
      "main": [
        [
          {
            "node": "Telegram Confirmación1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Actividad": {
      "main": [
        [
          {
            "node": "PG Extract Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Inicio Registro1": {
      "main": [
        [
          {
            "node": "Registrar Actividad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Json1": {
      "main": [
        [
          {
            "node": "HTTP Registrar Actividad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Actividad": {
      "main": [
        [
          {
            "node": "Set Actividad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Is Start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start?": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Comandos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ChatId1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login OK?": {
      "main": [
        [
          {
            "node": "Guardar Login Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Login Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8304fc07-ce25-4e1b-ae78-f98ced71405e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9e9ffd88cb2b9711fd6edf0b00324421b9fe88f6fc19562d61b6cfbfefc059f"
  },
  "id": "Z4N3x4CPIlwqVe3T",
  "tags": []
}